/* Reset
============================================================ */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}audio:not([controls]){display:none;}[hidden]{display:none;}html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700;}del{text-decoration:line-through;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}input,textarea,select{font:inherit;}ul{list-style:none;}input:focus,textarea:focus,select:focus{outline: none;}textarea{resize:none;overflow:auto; vertical-align:top;}input,textarea{border:0 none; padding:0;margin:0;}img{border:0;-ms-interpolation-mode:bicubic;} button, input{line-height:normal;*overflow:visible;} button, html input[type="button"], input[type="reset"], input[type="submit"]{cursor:pointer; -webkit-appearance:button;}input[type="checkbox"], input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner, input::-moz-focus-inner{border:0;padding:0;}select{cursor:pointer;}

/* Generals
============================================================ */

.background_big_image { 
	background: url(/assets/IMG_1619jh.jpg) no-repeat;
	height:800px;
	width:1300px;
}

#wrapper{
	margin:0 auto;
	width:960px;
}

#header{
	background: url(/assets/Logotipo_SW_Verde.png) no-repeat center center;
	height:250px;
	width:630px;
	margin:0 auto;
}

#wrapper fieldset{
	  margin-top:50px;
		margin-left:240px;
}

#wrapper fieldset input.text{
		padding:10px;
	 	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
}

#wrapper fieldset .button{
		padding:10px;
	 	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
}

#wrapper div.email{
		display:inline;
}

#wrapper .date{
		background: url(/assets/Date.png) no-repeat center center;
		height:50px;
		width:512px;
		margin-top:50px;
		margin-left:240px;
}

#footer{margin-top:250px}

#footer img{
	float:left;
	margin-right:20px;
}